In [7]:
import os.path
import csv
import sqlite3
import pandas as pd

In [8]:
BASE_DIR = os.path.dirname(os.path.abspath("/Users/zack/Desktop/part_db/part_granted.db"))
db_path = os.path.join(BASE_DIR, "part_granted.db")

In [208]:
def pandify_from_sql():
    with sqlite3.connect(db_path) as db:
        c = db.cursor()
        query = c.execute("SELECT * From patents")
        cols = [column[0] for column in query.description]
        results= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)
        return results

In [209]:
dfsql = pandify_from_sql()

In [210]:
dfsql['app_number'] = dfsql['app_number'].astype(str)
dfsql['app_number'] = dfsql['app_number'].str.rstrip()
dfsql['app_number'] = dfsql['app_number'].str[3:]
dfsql['app_number'] = dfsql['app_number'].astype(int)

In [217]:
a = dfsql.loc[dfsql['app_number'] == 865525]
dfsql.head()

,docnumber,random1,app_number,classification,biochem,appdate,appyear,title,number_of_claims,inventorname,...,speclength,abstract,specification,claims,prophetic,nonprophetic,exclude,allprophetic,someprophetic,noprophetic
0,20010054188,370710364,865525,'A42B0',2,20010529,2001,Protective helmet,10,"Guay, Louis",...,3400,Protective helmet (<highlight><bold>1</bold></...,<subdoc-description>\n<summary-of-invention>\n...,"<subdoc-claims>\n<claim id=""CLM-00001"">\n<clai...",NA,NA,1,NA,NA,NA
1,20010054189,659279811,911749,"'A42B0', 'A41D0'",2,20010723,2001,Titanium wire face guard,12,"Halstead, P.",...,3874,A method of making a face mask including the s...,<subdoc-description>\n<summary-of-invention>\n...,"<subdoc-claims>\n<heading lvl=""1"">What is clai...",NA,NA,1,NA,NA,NA
2,20010054190,571587809,867084,'A41D0',0,20010529,2001,Batting glove,32,"Kleinert, James",...,3222,A batting glove includes a plurality of finger...,<subdoc-description>\n<cross-reference-to-rela...,"<subdoc-claims>\n<heading lvl=""1"">What is clai...",NA,NA,1,NA,NA,NA
3,20010054191,523727763,933649,"'A41D0', 'A41B0'",0,20010820,2001,Adjustable disposable garment protector,33,"Frye, Greg",...,3268,"According to the present invention, an adjusta...",<subdoc-description>\n<summary-of-invention>\n...,"<subdoc-claims>\n<heading lvl=""1"">I claim: </h...",NA,NA,1,NA,NA,NA
4,20010054192,671601483,841814,"'A41D0', 'A41B0'",0,20010425,2001,Therapy apparel for children diagnosed with se...,18,"Haar, Sherry",...,3943,Therapy apparel (<highlight><bold>10</bold></h...,<subdoc-description>\n<cross-reference-to-rela...,"<subdoc-claims>\n<heading lvl=""1"">We claim: </...",NA,NA,1,NA,NA,NA

In [163]:
def pandify_from_txt():
    df = pd.read_table('/Users/zack/Desktop/MaintFeeEvents.txt', header = None, sep=' ',names = ['0','1', '2','3','4','5','6'] )
    return df

In [174]:
dftxt = pandify_from_txt()
dftxt = dftxt.reset_index()
dftxt.columns =  ['Patent_Number','US_Application_Number', 'Small_Entity','US_Application_Filing_Date','US_Grant_Issue_Date','Maintenance_Fee_Event_Entry_Date','Maintenance_Fee_Event_Code', 'drop']

/Users/zack/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2802: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [175]:
dftxt = dftxt.drop('drop',axis=1)
dftxt.head()

,Patent_Number,US_Application_Number,Small_Entity,US_Application_Filing_Date,US_Grant_Issue_Date,Maintenance_Fee_Event_Entry_Date,Maintenance_Fee_Event_Code
0,4287053,6218896,N,19801222,19810901,19881222,M171
1,4287053,6218896,N,19801222,19810901,19850211,M170
2,4289713,6222552,Y,19810105,19810915,19930330,SM02
3,4289713,6222552,Y,19810105,19810915,19930303,M285
4,4289713,6222552,Y,19810105,19810915,19921208,RMPN

In [176]:
dftxt_2 = dftxt.loc[dftxt['US_Application_Filing_Date'] >20001231 ]

In [177]:
dftxt_2.head()

,Patent_Number,US_Application_Number,Small_Entity,US_Application_Filing_Date,US_Grant_Issue_Date,Maintenance_Fee_Event_Entry_Date,Maintenance_Fee_Event_Code
8105068,6137813,9058538,N,20011130,20001024,20081024,EXP.
8105069,6137813,9058538,N,20011130,20001024,20080505,REM.
8105070,6137813,9058538,N,20011130,20001024,20040504,ASPN
8105071,6137813,9058538,N,20011130,20001024,20040426,M1551
8537085,6242411,9757334,N,20010109,20010605,20050606,EXP.

In [226]:
a = dftxt_2.loc[dftxt_2['US_Application_Number'] == 9058538]

In [228]:
a

,Patent_Number,US_Application_Number,Small_Entity,US_Application_Filing_Date,US_Grant_Issue_Date,Maintenance_Fee_Event_Entry_Date,Maintenance_Fee_Event_Code
8105068,6137813,9058538,N,20011130,20001024,20081024,EXP.
8105069,6137813,9058538,N,20011130,20001024,20080505,REM.
8105070,6137813,9058538,N,20011130,20001024,20040504,ASPN
8105071,6137813,9058538,N,20011130,20001024,20040426,M1551